<div class="container">
<div class="jumbotron">
<form class="form-horizontal">
    <fieldset>
     <div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Details</h3>
  </div>
  <div class="panel-body">
    <table class="table table-striped table-hover ">

  <tbody **ngIf="selectedMember" >
    <tr>
      <td>Id:</td>
      <td>{{selectedMember.id}}</td>
    </tr>
    <tr>
      <td>Name:</td>
      <td>{{selectedMember.name}}</td>
    </tr>

    <tr>
      <td>Surname:</td>
      <td>{{selectedMember.surname}}</td>
    </tr>
    <tr>
      <td>Age:</td>
      <td>{{selectedMember.age}}</td>
    </tr>
    <tr>

<div class="button-group">
          <button class="btn btn-primary" (click)="editData()">
            Edit
          </button>
      
         <button class="btn btn-danger" (click)="delete(member.id)">
           Delete
          </button>
        </div>

    </tr>
  </tbody>
    </table>
     </div>
     </div>
    </fieldset>
</form>
</div>
</div>